* {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    padding: 10px;
    margin: 10px;
}

textarea {
    border-color: slategray;
    border-radius: 10px;
}

p {
    border-style: double;
}